/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
 https://fonts.google.com/specimen/Roboto
*/

body {
    padding: 0;
    margin: 0;
    background-color: #e5e5e5;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.obal {
    width: 960px; /* obsah stránky je omezený do pruhu širokého 960px */
    margin: 0 auto; /* pruh je na stránce vycentrovaný */
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* ----- zde začni psát vlastní CSS ----- */
/* animace na kolecka */

:root {
    --svFial: #48418e;
    --seda: #e5e5e5;
}

.obal {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    width: auto;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    width: calc(50%);
    color: #25133d;
    text-align: center;
    font-size: 1rem;
    padding: 0.5rem 2.5rem;
}

li:hover {
    background-color: var(--svFial);
    color: var(--seda);
}

.main_field {
    display: flex;
    flex-direction: column;
    background-image: 
        linear-gradient(hsla(0 0% 0% / 0.2), hsla(0 0% 0% / 0.2)), /*dark pix filter*/
        url(images/pozadi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--seda);
    padding: 1.5rem;
}

h1 {
    font-size: 4rem;
    font-weight: 400;
    margin: 0;
}

.main_field p {
    font-size: 2rem;
    font-weight: 300;
    margin: 0 1.5rem 0 0;
}

.zdarma,
.info {
    border: solid 1.5px var(--seda);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    text-align: center;
    margin: 1rem 0;
}
.zdarma {
    background-color: var(--svFial);
}
.zdarma:hover {
    background-color: transparent;
}

.info:hover{
    background-color: var(--svFial);
}

h2 {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0.5rem;
}

.telefon {
    display: none;
}

h3 {
    color: var(--svFial);
    margin: 0.5rem;
}

.kolonky {
    padding: 1.5rem;
}

.kolonka {
    text-align: center;
    font-size: 1rem
}

.kolonka p {
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.kolonka img {
    width: 4rem;
}

.footer {
    background-color: var(--svFial);
    color: var(--seda);
    text-align: center;
    font-weight: 300;
    font-size: 0.7rem;
    padding: 0.1rem;
}

@media screen and (min-width: 480px) {
    .menu {
        flex-wrap: nowrap;
        justify-content: left;
    }
    li {
        text-align: left;
        width: auto;
        padding-right: 1rem;
    }
    .buttons {
        display: flex;
    }
    .zdarma {
        margin-right: 1.5rem;
    }
    .kolonky {
        display: flex;
    }
    .kolonka {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .kolonka img {
        order: -1;
    }
}

@media screen and  (min-width: 860px) {
    .obal {
        max-width: 960px;
    }
    .main_field {
        flex-direction: row;
        justify-content: space-between;
        padding-right: 0;
        padding-bottom: 0;
        max-height: 320px;
    }
    .main_text {
        flex-wrap: wrap;
    }
    .telefon {
        display:flex;
        justify-content: flex-end;
    }

}