/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
 https://fonts.google.com/specimen/Roboto
*/

body {
    padding: 0;
    margin: 0;
    background-color: #e5e5e5;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.obal {
    width: 960px; /* obsah stránky je omezený do pruhu širokého 960px */
    margin: 0 auto; /* pruh je na stránce vycentrovaný */
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* ----- zde začni psát vlastní CSS ----- */
.obal {
    font-family: 'Roboto', sans-serif;
}

/*.menu {
    
}*/

li {
    display: inline-block;

}

.main_field {
    background-image: url(images/pozadi.jpg);
    color: #fbfbfd;
    padding-left: 0.3rem;
}
h1 {
    font-size: 6rem;
    font-weight: 400;
    margin: 1rem;
}
.main_field p {
    font-size: 2.5rem;
    font-weight: 300;
}

.button {
    border: solid 2px #fbfbfd;
    border-radius: 10px;
    padding: 0.1rem 1rem;
    text-align: center;
    width:fit-content;
}
h2 {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0.5rem;
}
/*.telefon {
}*/

h3 {
    color: #48418e;
}

.kolonka {
    text-align: center;
}

.kolonka img {
    width: 4rem;
}
footer {
    background-color: #48418e;
    color: #fbfbfd;
    text-align: center;
    font-weight: 300;
    font-size: 0.7rem;
    padding: 0.1rem;
}
